<div class="relative" *ngIf="selectFormControl">
  <div>
    <label class="block text-sm font-bold mb-2 text-white w-full" for="email">
      Marca de tu coche
    </label>
    <button
      (click)="toggleShowOptions()"
      type="button"
      [ngClass]="{
        'inline-flex justify-end border-gray-300 bg-white text-sm font-medium': true,
        'hover:bg-gray-50 shadow appearance-none border rounded w-full ': true,
        'py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline': true
      }"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
    >
      <div class="w-full text-left">
        {{ selectFormControl.value.name || "Marca de tu coche" }}
      </div>
      <svg
        class="-mr-1 ml-2 h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          fill-rule="evenodd"
          d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <div
      *ngIf="selectFormControl.touched && selectFormControl.errors?.['required']"
    >
      <p class="text-red-500 text-xs italic">
        Por favor, introduce la marca de tu coche.
      </p>
    </div>
  </div>

  <div
    *ngIf="showOptions"
    class="absolute right-0 z-10 mt-2 w-full origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
    role="menu"
    aria-orientation="vertical"
    aria-labelledby="menu-button"
    tabindex="-1"
  >
    <div class="py-1">
      <div
        *ngFor="let option of options; let i = index"
        href="#"
        [ngClass]="{
          'text-gray-600 block px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900': true,
          '!bg-gray-300 !text-gray-900':
            option.value === selectFormControl.value.value
        }"
        role="menuitem"
        (click)="selectedCarBrand(option)"
      >
        {{ option.name }}
      </div>
    </div>
  </div>
</div>
