<div>
  <div
    [ngClass]="{
      'opacity-40': isLoading
    }"
  >
    <table mat-table [dataSource]="dataSource">
      <ng-container>
        <ng-container matColumnDef="name">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Name
          </th>
          <td mat-cell *matCellDef="let pokemon">{{ pokemon.name }}</td>
        </ng-container>
        <ng-container matColumnDef="weight">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Weight
          </th>
          <td mat-cell *matCellDef="let pokemon">{{ pokemon.weight }}</td>
        </ng-container>
        <ng-container matColumnDef="types">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Types
          </th>
          <td mat-cell *matCellDef="let pokemon">{{ pokemon.types }}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Image
          </th>
          <td mat-cell *matCellDef="let pokemon">
            <img [src]="pokemon.sprite" class="w-20 h-20" />
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
      </ng-container>
    </table>
  </div>

  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [disabled]="isLoading"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  ></mat-paginator>
</div>
