<div class="sm:m-8 m-1 flex flex-col justify-center gap-2">
  <div
    class="flex gap-2 flex-row border-solid border-2 border-gray-700 rounded-xl p-2"
  >
    <a
      [routerLink]="starWarsRoutesURL.films"
      routerLinkActive="font-black italic"
      >Films</a
    >
    <a
      [routerLink]="starWarsRoutesURL.people"
      routerLinkActive="font-black italic"
      >People</a
    >
    <a
      [routerLink]="starWarsRoutesURL.planets"
      routerLinkActive="font-black italic"
      >Planets</a
    >
    <a
      [routerLink]="starWarsRoutesURL.species"
      routerLinkActive="font-black italic"
      >Species</a
    >
    <a
      [routerLink]="starWarsRoutesURL.starships"
      routerLinkActive="font-black italic"
      >Starships</a
    >
    <a
      [routerLink]="starWarsRoutesURL.vehicles"
      routerLinkActive="font-black italic"
      >Vehicles</a
    >
  </div>
  <div class="border-solid border-2 border-gray-700 rounded-xl p-2">
    <div [ngSwitch]="currentUrl">
      <div *ngSwitchCase="">Pick one of the above options!</div>
      <div *ngSwitchCase="'films'">
        <div *ngIf="!detailsId">
          <div
            *ngIf="!loading && filteredFilms.length"
            class="flex flex-col gap-2"
          >
            <app-star-wars-film-list
              [filmList]="filteredFilms"
            ></app-star-wars-film-list>
          </div>
          <div *ngIf="!loading && filteredFilms.length === 0">
            The filtering did not find any results.
          </div>
          <div *ngIf="loading">
            <div class="p-4 flex flex-row gap-2 items-center">
              <app-loader></app-loader>
              <div class="">Loaaaading...</div>
            </div>
          </div>
        </div>
        <div *ngIf="detailsId">
          <div *ngIf="!loading" class="flex flex-col gap-3">
            <app-star-wars-film-details [selectedFilm]="this.selectedFilm">
            </app-star-wars-film-details>
            <div>
              <button
                [routerLink]="'../'"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Back to the List!
              </button>
            </div>
          </div>
          <div *ngIf="loading">
            <div class="p-4 flex flex-row gap-2 items-center">
              <app-loader></app-loader>
              <div class="">Loaaaading...</div>
            </div>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'people'">
        <div *ngIf="!detailsId">
          <div *ngIf="!loading && filteredPeople.length">
            <app-star-wars-people-list
              [peopleList]="filteredPeople"
            ></app-star-wars-people-list>
          </div>
          <div *ngIf="!loading && filteredPeople.length === 0">
            The filtering did not find any results.
          </div>
        </div>
        <div *ngIf="detailsId && !loading">
          <div *ngIf="!loading" class="flex flex-col gap-3">
            <app-star-wars-people-details
              [selectedPerson]="this.selectedPerson"
            >
            </app-star-wars-people-details>
            <div>
              <button
                [routerLink]="'../'"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
              >
                Back to the List!
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="loading">
          <div class="p-4 flex flex-row gap-2 items-center">
            <app-loader></app-loader>
            <div class="">Loaaaading...</div>
          </div>
        </div>
      </div>

      <!-- Default case when there are no matches -->
      <div *ngSwitchDefault>
        <div>Work in progress...</div>
      </div>
    </div>
  </div>
</div>
