<div class="sm:m-8 m-1 flex flex-col justify-center gap-2">
  <div
    class="flex gap-2 flex-col border-solid border-2 border-gray-700 rounded-xl p-2"
  >
    <div>Proyecto actualizado a Angular versión 18.</div>
    <div>
      Prueba técnica de nivel de
      <b>Eduard Maestro</b>
      para Frontend. (Portfolio)
    </div>
  </div>
  <div
    class="flex gap-2 flex-col border-solid border-2 border-gray-700 rounded-xl p-2"
  >
    <div>
      Cada botón redirige a una ruta donde se encuentra un pequeño proyecto con
      diferentes funcionalidades, y por ende, diferentes casos de uso de la
      programació necesaria.
    </div>

    <div>
      <button
        [routerLink]="'/star-wars'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Star Wars API Project
      </button>
    </div>

    <div>
      <button
        [routerLink]="'/pokemon'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Hazte con todos!
      </button>
    </div>
    <div>
      <button
        [routerLink]="'/ticketing'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Ticketing
      </button>
    </div>
    <div>
      <button
        [routerLink]="'/payments'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Payments
      </button>
    </div>
    <div>
      <button
        [routerLink]="'/form'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Validated Form Project
      </button>
    </div>
    <div>
      <button
        [routerLink]="'/routes'"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Protected Routes Project
      </button>
    </div>
  </div>
</div>
