<div>
  <div
    [ngClass]="{
      'opacity-40': isLoading
    }"
  >
    <table mat-table [dataSource]="dataSource">
      <ng-container>
        <ng-container matColumnDef="title">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Title
          </th>
          <td mat-cell *matCellDef="let user">{{ user.title }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Gender
          </th>
          <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
        </ng-container>
        <ng-container matColumnDef="homeworld">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Homeworld
          </th>
          <td mat-cell *matCellDef="let user">{{ user.homeworld }}</td>
        </ng-container>
        <ng-container matColumnDef="height">
          <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
            Height
          </th>
          <td mat-cell *matCellDef="let user">{{ user.height }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: columnsToDisplay"
          (click)="showPersonDetails(row)"
        ></tr>
      </ng-container>
    </table>
  </div>

  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [disabled]="isLoading"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  ></mat-paginator>
</div>
