<div *ngIf="peopleList">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let user">{{ user.title }}</td>
    </ng-container>
    <ng-container matColumnDef="gender">
      <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
        Gender
      </th>
      <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
    </ng-container>
    <ng-container matColumnDef="homeworld">
      <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
        Homeworld
      </th>
      <td mat-cell *matCellDef="let user">{{ user.homeworld }}</td>
    </ng-container>
    <ng-container matColumnDef="height">
      <th class="font-bold text-lg" mat-header-cell *matHeaderCellDef>
        Height
      </th>
      <td mat-cell *matCellDef="let user">{{ user.height }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator
    #paginator
    (page)="handlePageEvent($event)"
    [length]="peopleList.length"
    [disabled]="false"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="showFirstLastButtons"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
  ></mat-paginator>
</div>

<!-- <div class="flex flex-col gap-2">
  <div *ngFor="let person of peopleList; let i = index" class="flex gap-4">
    <div>{{ person.title }}</div>
    -
    <div>{{ person.gender }}</div>
    -
    <div>{{ person.homeworld }}</div>
    -
    <div>{{ person.height }}</div>
    <div
      [routerLink]="starWarsRoutesURL.people + person.personId"
      class="cursor-pointer text-blue-700 hover:underline"
    >
      More details...
    </div>
  </div>
</div> -->
