<div class="flex flex-col gap-3">
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Name:</div>
    <div class="ml-4">{{ selectedPerson.title }}</div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Gender:</div>
    <div class="ml-4">{{ selectedPerson.gender }}</div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Birth year:</div>
    <div class="ml-4">{{ selectedPerson.birth_year }}</div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Eye color:</div>
    <div class="ml-4">{{ selectedPerson.eye_color }}</div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Height:</div>
    <div class="ml-4 w-full md:w-1/2">
      {{ selectedPerson.height }}
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Hair color:</div>
    <div class="ml-4 w-full md:w-1/2">
      {{ selectedPerson.hair_color }}
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Skin color:</div>
    <div class="ml-4 w-full md:w-1/2">
      {{ selectedPerson.skin_color }}
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <div class="font-bold text-xl">Planet:</div>
    <div class="ml-4 w-full md:w-1/2">
      {{ selectedPerson.homeworld }}
    </div>
  </div>
</div>
