<div class="sm:m-8 m-1 flex justify-center">
  <div
    [ngClass]="{
      'bg-blue-400 shadow-md rounded p-2 m-4 ': true,
      'sm:px-4 sm:pt-3 sm:pb-4 sm:mb-2': true
    }"
  >
    <h1 class="font-medium leading-tight text-5xl text-white">
      Tu seguro del coche al mejor precio
    </h1>
    <h3 class="leading-tight text-xl sm:pl-3 text-white">
      Buscamos por tí entre los mejores seguros y servicios
    </h3>
    <form
      class="grid sm:grid-cols-2 gap-4 justify-center items-center mt-2 sm:m-4 lg:m-8 px-6 sm:px-0"
      [formGroup]="form"
      (ngSubmit)="submit()"
    >
      <div class="col-span-2 sm:col-span-1">
        <app-input [inputFormControl]="username" title="Nombre"></app-input>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <app-input
          [inputFormControl]="phone"
          title="Teléfono"
          type="tel"
        ></app-input>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <app-input
          [inputFormControl]="postalCode"
          type="postal"
          title="Código Postal"
        ></app-input>
      </div>
      <div class="col-span-2 sm:col-span-1">
        <app-input
          [inputFormControl]="email"
          title="Correo electrónico"
        ></app-input>
      </div>

      <div class="col-span-2 sm:col-span-1">
        <app-select
          title="Marca de tu coche"
          [selectFormControl]="carBrand"
          [options]="carBrandOptions"
        ></app-select>
      </div>

      <div class="col-span-2">
        <app-checkbox
          [checkboxFormControl]="termsAndConditions"
          [checkboxText]="termsAndConditionsText"
        ></app-checkbox>
      </div>

      <div class="col-span-2">
        <div>
          <button
            class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Buscar
          </button>
        </div>
        <div class="col-span-2 leading-tight text-sm text-white">
          *El botón buscar redirige a la pagina inicial cuando el formulario es
          válido.
        </div>
      </div>
    </form>
  </div>
</div>
