<div class="grid grid-cols-1 gap-2">
  <div class="flex gap-2">
    <input
      type="checkbox"
      class="self-start top-5 mt-1 w-6 h-6"
      [formControl]="checkboxFormControl"
      id="acceptTerms"
      [ngClass]="{
        'is-invalid': checkboxFormControl.touched && checkboxFormControl.errors
      }"
    />
    <div for="acceptTerms" class="text-white w-full" [innerHTML]="checkboxText">
      Accept Terms & Conditions
    </div>
  </div>
  <div *ngIf="checkboxFormControl.touched && checkboxFormControl.errors">
    <p class="text-red-500 text-xs italic">
      Es necesario aceptar los terminos y condiciones.
    </p>
  </div>
</div>
