<div *ngIf="inputFormControl" class="">
  <label class="block text-sm font-bold mb-2 text-white"> {{ title }} </label>
  <input
    [formControl]="inputFormControl"
    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    [type]="type"
    [placeholder]="title"
  />
  <p
    *ngIf="inputFormControl.touched && inputFormControl.errors?.['required']"
    class="text-red-500 text-xs italic"
  >
    Por favor, introduce tu {{ title }}.
  </p>
  <p
    *ngIf="inputFormControl.touched && !inputFormControl.errors?.['required'] && inputFormControl.errors?.['emailIsInvalid']"
    class="text-red-500 text-xs italic"
  >
    Por favor, introduce un email valido.
  </p>
</div>
